// Variables
$primaryBtn: rgb(182, 85, 153);

// Nest styles
header {
    background: #5605be;
  button {
    background-color: $primaryBtn;
    // Attributes
    &:hover {
      background: green;
    }
  }
}

// Import other scss to main 
@import "./footer";

// Reusable functions called Mixins
@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

header {
  @imclude flexCenter(column);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {width: 100%;}

.nav-container {
  background: #6700EE;

  a {
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #00F7FF;
    font-weight: bold;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
    
  }

  .social-header, .hero-design {
    display: none;
  }

  .hero {
    background: #6E00FF;
    color: white;
    display: grid;
    text-align:  center;
    padding: 4em;
  }
}