// Variables
$primaryBtn: rgb(182, 85, 153);

// Nest styles
header {
    background: #5605be;
  button {
    background-color: $primaryBtn;
    // Attributes
    &:hover {
      background: green;
    }
  }
}

// Import other scss to main 
@import "./footer";

// Reusable functions called Mixins
@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

header {
  @imclude flexCenter(column);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {width: 100%;}

.nav-container {
  background: #6700EE;

  a {
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #00F7FF;
    font-weight: bold;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
    
  }

}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #6E00FF;
  color: white;
  display: grid;
  text-align:  center;
  padding: 4em;

}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #FF64CB;

  span {
    margin-top: 1em;
    margin-right: .5em;
  }
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E5D5FA;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6E00FF;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #FF64CB;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one {
      width: 50px;
    }
    &.two {
      width: 100px;
    }
    &.three {
      width: 60px;
    }
  }

  .skill-title {
    font-weight: bold;
  }

  .featured-desc {
    margin-bottom: 2em;
  }
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}